@model ResetPasswordViewModel

<h2>Reset Your Paassword</h2>
<hr>
<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token">
     <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Paassword"></label>
        <input asp-for="Paassword" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPaassword"></label>
        <input asp-for="ConfirmPaassword" class="form-control"/>
    </div>
        
    <button class="btn btn-primary">Send</button>
</form>